<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.r13_mob_proj_ui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.R13_mob_proj_ui">
        <activity
            android:name=".AddDataView"
            android:exported="false" />
        <activity
            android:name=".WriteData"
            android:exported="false" />
        <activity
            android:name=".reseptiview4"
            android:exported="false" />
        <activity
            android:name=".reseptiview3"
            android:exported="false" />
        <activity
            android:name=".reseptiview2"
            android:exported="false"
            android:label="@string/title_activity_reseptiview2"
            android:theme="@style/Theme.R13_mob_proj_ui.NoActionBar" />
        <activity
            android:name=".reseptiview"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>